# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Expo
.expo/
android/
ios/

# Node modules
node_modules/

# Logs
*.log

# Sistema
.DS_Store

# Ambiente
.env
